body {
  padding-top: 56px;
}
.jumbotron {
  text-shadow: #000 1px 1px;
}
.background-header {
  background-image: url("images/banner1.jpg");
  background-color: #fafbfc;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.button-primer {
  background-color: #00bd8e;
  border-color: #0b9b6b;
  color: #fff;
  text-shadow: 0px 0px;
}
.button-primer:hover {
  background-color: #038c6a;
  color: #fff;
  text-shadow: 0px 0px;
}
.service-style {
  margin-top: 15px;
  background-color: #fafbfc;
}
.text-green {
  color: #0b9b6b;
}
.bg-red {
  background-color: #f25757;
}
h2:before,
h2:after {
  background-color: #0b9b6b;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 28%;
}
h2:before {
  right: 0.5em;
  margin-left: -50%;
}
h2:after {
  left: 0.5em;
  margin-right: -50%;
}
.button-sekunder {
  background-color: transparent;
  border-color: #dbdbdb;
  color: #0b9b6b;
}
.button-sekunder:hover {
  background-color: #0b9b6b;
  border-color: #dbdbdb;
  color: #fff;
}
.cover {
  background: no-repeat center/cover;
}
